* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI';
}

html {
    background-image: linear-gradient(to right,#02040c,#010205);
    /* background-color: rgb(4, 24, 65); */
    /* background: url(images/bg.jpg) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
}

/* NAVBAR */

#nav {
    background-color: rgb(16, 23, 36);
    height: 4rem;
    min-height: fit-content;
    position: fixed;
    top: 0;
    width: 100%;
}

#nav ul {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav ul a {
    width: 100px;
    color: white;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

#nav ul a:hover {
    color: rgb(0, 0, 0);
    background-color: white;
    border-radius: 5px;
}

#nav ul a li {
    text-align: center;
    font-size: 1.2rem;
}

#time{
    color: white;
    text-align: center;
    margin: 2rem auto;
    width: 120px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
    margin-top: 6rem;
    font-weight: 300;
    text-shadow: 0 0 5px white;
    background-color: black;
}


#sign{
    filter: invert(1);
    width: 300px !important;
    height: 100px !important;
    transform: invert(1);
}
/* HOME */

#home {
    width: 60%;
    height: fit-content;
    margin: auto;
    background-image: linear-gradient(to bottom,rgb(46, 74, 126),rgb(13, 31, 65),rgb(12, 20, 44));
    padding: 2rem;
}

#home h1 {
    text-align: center;
    font-size: 10vw;
    color: white;
    margin: 1rem 0;
}

#home img {
    display: block;
    width: 400px;
    height: 270px;
    margin: auto;
}

.intro {
    color: white;
    width: 70%;
    margin: 2rem auto;
    font-size: 1.5rem;
    text-align: justify;
}

/* ABOUT */

#about {
    width: 60%;
    height: fit-content;
    margin: auto;
    /* background-image: linear-gradient(to bottom,rgb(73, 117, 73),rgb(43, 78, 43),rgb(12, 54, 12)); */
    background-image: linear-gradient(to bottom,rgb(21, 143, 106),rgb(25, 92, 72),rgb(14, 94, 70));
    /* background-color: ; */
    padding: 2rem;
}

#about h1{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: white;
}

#about img{
    display: block;
    width: 200px;
    margin: 2rem auto;
    border-radius: 50%;
    background-color: rgb(255, 221, 198);
}
#about table {
    border-collapse: collapse;
    width: 100%;
    color: white;
}

#about th,td{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 5px;
    width: 50%;
    height: 2rem;
}

#about a{
    color: white;
}
#about a:hover{
    color: black;
    font-weight: bold;
}

#about tr{
    background-color: rgb(9, 100, 161);
}



/* EDUCATION */

#education {
    width: 60%;
    height: fit-content;
    margin: auto;
    background-image: linear-gradient(to bottom,rgb(204, 156, 67),orange,rgb(116, 83, 22));
    padding: 2rem;
}

#education h1{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: white;
}

#education img{
    display: block;
    width: 200px;
    height: 200px;
    margin: 2rem auto;
    border-radius: 50%;
    background-color: rgb(198, 234, 255);
}
#education table {
    border-collapse: collapse;
    width: 100%;
    color: white;
}

#education th,td{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 5px;
    width: 50%;
    height: 2rem;
}

#education a{
    color: white;
}
#education a:hover{
    color: black;
    font-weight: bold;
}
#education tr{
    background-color: rgb(73, 117, 73);
}


